<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon" href="/images/bdpaicon.ico">
  </head>
  <body>
    <!-- Menu Logo created for future styling -->
    <a href="/">
    <img src="/images/bdpalogo26.png" alt="BDPA logo" height="50" width="50" class="menulogo">
    </a>

    <h1> HSCC Reference Page </h1>
    <!-- Very basic page menu next -->
    <p id="pagemenu"> 
        <a href="#bdpahistory"> BDPA History </a> |
        <a href="#htmltags"> HTML Tags </a> |
        <a href="#numconversion"> Number Conversion Chart </a>
    </p>
    
    <hr>

    <!-- BDPA History section -->
    <div id="bdpahistory">
    <h2> BDPA History </h2>
    <p> This is a section to show history of the group </p>
    <p> <a href="#pagemenu"> Back to top </a> </p>
    </div>

    <hr>

    <!-- HTML tag section -->
    <div id="htmltags">
    <h2> HTML tags </h2>
    <p> This is a section to show HTML tags that we use in class </p>
    <p> <a href="#pagemenu"> Back to top </a> </p>
    </div>

    <hr>

    <!-- Number system conversion -->
    <div id="numconversion">
    <h2> Number system chart </h2>
    <p> This is a chart showing common decimal, binary, and hexadecimal values </p>
    <p> <a href="#pagemenu"> Back to top </a> </p>
    </div>
    
    
  </body>
</html>